<!-- static_pages_content.css.scss -->
<div class="medium-12 columns content_static_pages content_aboutuspg_section ">
  <div class="content_inner">
    <div class="page_content">

      <!-- content -->
      <div class="clear"></div>
      <div class="page_info">
        <div class="page_header">frequently asked questions (FAQs)</div>
        <div class="page_section">
          <div class="listings">
            <ul>
              <li><%= link_to "What is Childmindr.net?", ".content1", rel: "relativeanchor" %></li>
              <li><%= link_to "Do you make checks on your members?", ".content2", rel: "relativeanchor" %></li>
              <li><%= link_to "How Do I Contact A Childcare Provider?", ".content3", rel: "relativeanchor" %></li>
              <li><%= link_to "How are rating sores calculated?", ".content4", rel: "relativeanchor" %></li>
            </ul>
          </div>
        </div>

        <div class="page_section">
          <div class="page_title content1">What is Childmindr.net?</div>
          <div class="page_text_info">
            Childmindr.net is a place where parents, childcare providers and schools can connect with each other.
            Parents can create free profiles that enables them to search and locate services advertised by childcare providers and schools.
            Please not that we are not an agency, nor do we provide any childcare services.
          </div>
        </div>

        <div class="page_section content2">
          <div class="page_title">Do you make checks on your members?</div>
          <div class="page_text_info">
            We are an online advertising platform and do not make checks on any of our members but provide lots of information, advice and tools to allow members to undertake their own checks.
            Parents should do as much research as possible once they have found a childcare provider that they are interested in using. Always speak to them on the phone and arrange at least one face to face meeting, in a public place, before you use their services. Ask them as many questions as you can think of and get them to show you written proof of their qualifications, registration certificates if listed on their profile. You should ask childcare providers for references from other parents and you should verify these by contacting the person giving the reference to ensure they are genuine.
          </div>
        </div>

        <div class="page_section content3">
          <div class="page_title">How Do I Contact A Childcare Provider?</div>
          <div class="page_text_info">
            Once you have located a provider via the search facility, click on the provider’s name to view their profile.  As a registered user you will be able to view the full profile which contains the provider’s email address and phone number.
          </div>
        </div>

        <div class="page_section content4">
          <div class="page_title">How are rating sores calculated?</div>
          <div class="page_text_info">
            The system gives parents the opportunity to rate their experience with providers by giving them 1 to 5 stars. All childcare providers start with a rating score of zero and over time averages out based on the number of stars given per rating.
          </div>
        </div>
      </div>
      <!-- content -->

    </div>
  </div>
</div>













