<div class="medium-12 columns content_designpg_section">
  <!-- upper_content -->
  <div class="upper_content">
    <div class="background_content">background_content</div>
    <div class="middle_content">
      <div class="inner_middle_content">
        <div class="header_content">here</div>
        <div class="image_display_content"></div>
      </div>
    </div>
  </div>
  <!-- upper_content -->
</div>
