<!-- static_pages_content.css.scss -->
<!-- content_designpg.css.scss -->
<div class="medium-12 columns content_designpg_section content_static_pages content_parentingguidespg_section ">
  <div class="content_static_inner_pages">
    <!-- upper_section -->
    <%= render 'shared/content_upper_content' %>
    <!-- upper_section -->
    <div class="clear"></div>
    <!-- section -->
    <div class="medium-12 columns content_section">
      <div class="content_inner_section">
        <div class="section_main_info">

          <!-- section -->
          <div class="medium-12 columns mini_section">
            <div class="mini_inner_section colour_green">
              <div class="mini_content_title colour_light_green">Parenting Guides</div>
              <div class="img_text_section">
                <div class="mini_text_section mini_text_overflow colour_white_text">
                  <div class="mini_text_title colour_white_text">Free Help, Advice And Support Guides For Parents</div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">Tantrums - A Parents' Survival Guide</div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
                  
                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">When To Introduce Pocket Money</div>
                  <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>

                  <div class="divider_line"></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section -->

  </div>
</div>
