<!-- static_pages_content.css.scss -->
<div class="medium-12 columns content_static_pages content_aboutuspg_section ">
  <div class="content_inner">
    <div class="page_content">

      <!-- content -->
      <div class="view_info_section">
        <div class="inner_info_section">
          <div class="text">know of a school not within our listing?</div>
          <div class="contact_box">
            <div class="contact_inner_box">
              <div class="contact_header">contact us via email</div>  
              <div class="site_weblink"><%= mail_to "admin@childmindr.net" %></div>
            </div>
          </div>
        </div>
      </div>
      <!-- content -->

    </div>
  </div>
</div>