<!-- static_pages_content.css.scss -->
<div class="medium-12 columns content_static_pages content_advisepg_section ">
  <div class="content_inner">
    <div class="page_content">

      <!-- content -->
      <div class="page_info">
        <div class="page_header">contact us</div>
        <div class="page_section">
          <div class="page_text_info">
            You query is very important to us, so we always aim to respond within 24 hours of receipt. If your prefer to talk to us please call +233 55 209 9793 or via Whatsapp on +44 77 22 016771.
          </div>
        </div>
      </div>
      <!-- content -->

    </div>
  </div>
</div>













