<!-- content_usertypes_general_styling.css -->
<div class="medium-12 columns content_users_babysitterspg_section content_usertypes_section">
  <div class="content_inner">
    <div class="page_content">

      <div class="clear"></div>

      <!-- about_section -->
      <div class="medium-12 columns image_cover">
        <div class="medium-5 columns image_text">
          <div class="text_content">
            <div class="img_header">Household Helper</div>
            <div class="sub_text">
              <div class="upper_text_info">Household helpers perform a variety of household services for an individual or a family, from providing care for children and elderly dependents to housekeeping, including cleaning and household maintenance. Other responsibilities may include cooking, laundry and ironing, shopping for food and other household errands.</div>
              <div>Please use the serach facility above to refine your search.</div>
            </div>
          </div>
        </div>
        <div class="medium-7 columns backgrd_img"><%= image_tag("img_homepg.png") %></div>
      </div>
      <!-- about_section -->

      <div class="clear"></div>

      <!-- data -->
      <% if @users.present? %>
        <div><%= render 'shared/search_usertype_data' %></div>
      <% else %>
        <div><%= render 'shared/content_no_listing' %></div>
      <% end %>
      <!-- data -->
    </div>
  </div>
</div>













