<!-- static_pages_content.css.scss -->
<div class="medium-12 columns content_static_pages content_advisepg_section ">
  <div class="content_inner">
    <div class="page_content">

      <!-- content -->
      <div class="page_info">
        <div class="page_header">contact us</div>
        <div class="page_section">
          <div class="page_text_info">
            We aim to answer all customer support enquiries within 24 hours. In the last week our customer support team handled 1,209 enquiries and our average response time was 21 minutes during office hours. Right now, our average response time is 
          </div>
        </div>
      </div>
      <!-- content -->

    </div>
  </div>
</div>













