<!-- static_pages_content.css.scss -->
<!-- content_designpg.css.scss -->
<div class="medium-12 columns content_designpg_section content_static_pages content_advisepg_section ">
  <div class="content_static_inner_pages">
    <!-- upper_section -->
    <%= render 'shared/content_upper_content' %>
    <!-- upper_section -->
    <div class="clear"></div>
    <!-- section -->
    <div class="medium-12 columns content_section">
      <div class="content_inner_section">
        <div class="section_main_info">

          <!-- section -->
          <div class="medium-12 columns mini_section">
            <div class="mini_inner_section colour_orange">
              <div class="mini_content_title colour_light_orange">help and advise</div>
              <div class="img_text_section">
                <div class="mini_text_section mini_text_overflow colour_white_text">
                  <div class="mini_text_title colour_white_text">Building a good relationship with your childcarer - advice for parents</div>
                  <div>It is important for your child’s health, safety and wellbeing that you work in close partnership with yourchildcarer, whether they are employed by you or self employed. Working in partnership is a 2-way process - you should be equally involved in making decisions and sharing information about you child’s learning, development and care needs with your childcarer.</div><br/>
                  <div>It is very important that your childcarer asks you about your child’s home experiences because you know your child best: so during the initial days of a child’s time with their childcarer, you will be asked lots of questions about your child’s learning and care at home... this will then develop into daily and weekly information sharing, regular meetings to discuss the progress your child is making and chats via telephone, email, text etc depending on preference.</div><br/>
                  <div>You should value the work your childcarer does with your child and be ready to answer questions and offer feedback and information about them to ensure your child’s needs are always met. Here are some more ways to promote your relationship with your childcarer:</div>
                  <div>
                    <ul>
                      <li>Pay on time! This might sound obvious but it will make a very big difference to your relationship.</li>
                      <li>Be clear about your expectations - do not let problems fester - if you have a problem you should let your childcarer know as quickly as possible so it can be discussed.</li>
                      <li>Be caring - it can be difficult if your childcarer takes time off unexpectedly because of a family problem or illness, but do remember to send a message asking how things are going.</li>
                      <li>Remember birthdays and special occasions - and give your childcarer a card and maybe small gift. It makes a big difference if your childcarer feels appreciated.</li>
                      <li>Back up your childcarer in front of the children - discuss it together later if necessary but try to present a united front when the children are present.</li>
                      <li>Read any documents your childcarer gives you and, if requested, reply promptly - we are all busy people but we need to work together and your childcarer will not be asking you to complete paperwork without good reason.</li>
                      <li>Dress your child in play clothes so it doesn’t matter if they get messy.</li>
                      <li>Appreciate that your childcarer might not just look after your children. Sometimes they have to consider the views of lots of different families before making plans or changing their daily routines to accommodate one child’s needs. Compromise is very important if your relationship is to succeed.</li>
                      <li>Raise your child’s self esteem by offering praise eg if your childcarer tells you about something wonderful they have done or shows you their special work display it at home.</li>
                      <li>Don’t mask illness with infant paracetamol or leave your child when you know they are ill. An ill child needs to be at home with their parents.</li>
                      <li>Most of all - be honest and approachable. Your childcarer is dedicated to promoting your child’s health and wellbeing just like you!</li>
                    </ul>
                  </div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">Finding the right babysitter</div>
                  <div>So you want to find a babysitter?</div><br/>
                  <div>For many parents, the idea of finding the right babysitter can present mixed emotions. On the one hand, the idea of a day or evening out without the children can seem exciting, yet on the other hand, the idea of leaving your precious little people in the hands of someone you don’t know can be a very unnerving thought.</div><br/>
                  <div>The good news is that with an online search facility such as that offered by Childmindr.net, you can rest assured that you’ll not have much trouble in finding a babysitter, you’re more likely to have trouble deciding who to choose from the large selection of babysitters available.</div>
                  <div>It can be a good idea to select a small number of local babysitters to interview and use, that way, if one is booked, you’re more likely to have a couple of back-up options. Many parents are comforted by the fact that their child or teen is being cared for in their absence rather than being left home alone. Babysitters provide an affordable alternative to other childcare services.</div>
                  
                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">What makes a good babysitter?</div>
                  <div>A good babysitter shouldn’t be hard to find. If you start out with a list of prerequisites, you will have already narrowed down the search to those who would be potentially good babysitters for your children.</div><br/>
                  <div>It would be wise to choose a babysitter over the age of 16 and if you have very young children, an older more experience babysitter would be more suitable.</div><br/>
                  <div>It is important to carry out full checks on those applying to babysit your children. You should apply the same criteria you would apply if you were hiring a nanny or using a childminder. Reference checks, proof of identity, first aid trained and ideally some level of children experience or qualifications would be expected.</div><br/>
                  <div>You should draw up a list of ground-rules that you would expect your babysitter to abide by while in your home and caring for your children.</div><br/>
                  <div>You may wish to consider some of the following when looking to hire the right babysitter:</div>
                  <div>
                    <ul>
                      <li>How old are your children and is the applicant responsible enough to care for them during your absence?</li>
                      <li>Be specific when deciding what qualities you’re looking for and don’t hire someone because they’re the first you interview, take your time to find the right babysitter(s).</li>
                      <li>Ask for at least two references, follow these up and ask as many questions as you need to in order to make a sound decision.</li>
                      <li>Invite your babysitter(s) over prior to the first booking, introduce them to your children and allow everyone the chance to meet and be comfortable in each other’s company.</li>
                      <li>It is a good idea to hire a babysitter who has paediatric first aid training, additional childcare qualifications are also a bonus</li>
                      <li>Ensure that in an emergency, your babysitter knows how to reach you and others in case of an emergency.</li>
                      <li>If your child or children have allergies or special conditions, it is important that your babysitter is informed and is happy to care for your children on that basis.</li>
                      <li>Be specific when laying the ground rules for your babysitter, if you would prefer that they don’t smoke, then say so and ensure that your babysitter does not invite anyone else into your home while you are not there.</li>
                      <li>Make sure that you provide refreshments and that your babysitter knows their way around your home.</li>
                      <li>Leave your contact number and details of where you will be in case of an emergency.</li>
                      <li>Do your best to return as near to the stated time as possible.</li>
                      <li>Ensure that you have researched local babysitting rates in your area, they do vary and it is important that once you have a good babysitter, you don’t lose them if you’re paying too little.</li>
                      <li>If your babysitter drives to get to you, consider offering a token payment towards their travel costs, which can mean the difference between you getting your favourite babysitter the next time you need the service.</li>
                      <li>Always consider your gut feeling, if you or your child are not happy, don’t use that particular babysitter.</li>
                    </ul>
                  </div>

                  <div class="divider_line"></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section -->

  </div>
</div>
