<!-- static_pages_content.css.scss -->
<!-- content_designpg.css.scss -->
<div class="medium-12 columns content_designpg_section content_static_pages content_termspg_section ">
  <div class="content_static_inner_pages">
    <!-- upper_section -->
    <%= render 'shared/content_upper_content' %>
    <!-- upper_section -->
    <div class="clear"></div>
    <!-- section -->
    <div class="medium-12 columns content_section">
      <div class="content_inner_section">
        <div class="section_main_info">

          <!-- section -->
          <div class="medium-12 columns mini_section">
            <div class="mini_inner_section colour_orange">
              <div class="mini_content_title colour_light_orange">Terms And Conditions</div>
              <div class="img_text_section">
                <div class="mini_text_section mini_text_overflow colour_white_text">
                  <div class="mini_text_title colour_white_text">1. Introduction</div>
                  <div>1.1 We are Chilmindr.net.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">2. Definitions</div>
                  <div>2.1 Capitalised terms have the following meanings in these terms and conditions:</div>
                  <div>
                    <ul>
                      <li>a) “Childcare Provider” – a User who uses our Service for the purpose of providing childcare services to Parents.</li>
                      <li>b) “Childcare Services” – childcare services such as babysitting, childminding, nurseries, private tutoring, midwifery or maternity nursing.</li>
                      <li>c) “Content” – all information of whatever kind (including profiles, reviews, posts, comments, documents, audio, video, advertisements, messages) uploaded to our Service (including messages sent via our Service).</li>
                      <li>d) “Parent” – a parent or guardian who uses our Service for the purpose of availing of Childcare Services.</li>
                      <li>e) “Service” – our website and any related services.</li>
                      <li>f) “User” – persons or organisations using our Service (whether or not registered with us).</li>
                    </ul>
                  </div>
                  
                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">3. Applicability of terms and conditions</div>
                  <div>3.1 Please read these terms and conditions carefully. By registering on or using our Service you agree to be bound by these terms and conditions. Please print or save these terms for future use as we will not keep a file copy specifically for the transaction with you and we cannot guarantee that they will remain accessible on our Service in future. These terms and conditions are available in the English language only.</div><br/>
                  <div>3.2 These terms and conditions apply to all Users.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">4. Changes to the terms and conditions</div>
                  <div>4.1 We may change these terms and conditions by posting the new version on our website by giving notice by email and SMS messaging. You will be bound by the revised agreement if you continue to use our Service following the effective date shown.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">5.Your right to use our Service</div>
                  <div>5.1 We grant you a limited personal non-transferable right to use our Service on any applicable device owned or controlled by you, subject to these terms and conditions.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">6. Who can use our Service?</div>
                  <div>6.1 You must not use, or attempt to register on, our Service if:</div>
                  <div>
                    <ul>
                      <li>a) You are below 18 years of age; or</li>
                      <li>b) You have been convicted of any offence, or subject to any court order, relating to assault, violence, sexual misconduct, harassment or dishonesty.</li>
                    </ul>
                  </div>
                  <div>6.2 Our Service is designed for and may only be used by persons who genuinely intend to use the Service to provide or avail of Childcare Services.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">7. Acceptable use of our Service</div>
                  <div>7.1 You agree that you will not in connection with the Service:</div>
                  <div>
                    <ul>
                      <li>a) Breach any applicable law, regulation or code of conduct;</li>
                      <li>
                        <div>b) Upload any Content (including links or references to other content), or otherwise behave in a manner, which:</div>
                        <div>
                          <ul>
                            <li>is defamatory, threatening, harassing, invasive of privacy, offensive, vulgar, racist, hateful, discriminatory, obscene, pornographic, sexually suggestive, promoting of self-harm, misleading, abusive or deceptive;</li>
                            <li>infringes any intellectual property or other rights of others;</li>
                            <li>involves phishing or scamming or similar; or</li>
                            <li>we otherwise reasonably consider to be inappropriate;</li>
                          </ul>
                        </div>
                      </li>
                      <li>c) Upload any Content which includes someone else’s personal information unless that person is 18 years or over and you have obtained that person’s explicit written consent or you are the parent/guardian of such person;</li>
                      <li>d) Impersonate any person or entity in order to mislead others;</li>
                      <li>e) Upload any Content which links to any third party websites which are unlawful or contain inappropriate Content;</li>
                      <li>f) Sell access to the Service;</li>
                      <li>g) Use the Service to provide a similar service to third parties or otherwise with a view to competing with us;</li>
                      <li>h) Sell advertising, sponsorship or promotions on or in connection with Content except where explicitly authorized by us;</li>
                      <li>i) Use the Service for junk mail, spam, pyramid or similar or fraudulent schemes;</li>
                      <li>j) Do anything which may have the effect of disrupting the Service including worms, viruses, software bombs or mass mailings;</li>
                      <li>k) Do anything which may negatively affect other Users’ enjoyment of the Service;</li>
                      <li>l) Gain unauthorised access to any part of the Service or equipment used to provide the Service;</li>
                      <li>m) Use any automated means to interact with our systems excluding public search engines; or</li>
                      <li>n) Attempt, encourage or assist any of the above.</li>
                    </ul>
                  </div>
                  <div>7.2 You must comply with any rules or requirements on our website.</div><br/>
                  <div>7.3 You must promptly comply with any reasonable request or instruction by us in connection with the Service.</div><br/>
                  <div>7.4 You must ensure that any contact or other information which you supply to us is accurate and not misleading and you will update it so that it remains so.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">8. Your Content</div>
                  <div>8.1 You are responsible for your Content.</div><br/>
                  <div>8.2 You promise to us that you have (and will retain) all rights and permissions needed to enable use of your Content as contemplated by the Service and these terms and conditions.</div><br/>
                  <div>8.3 If you post a Review, you promise that you have no personal or business relationship with the entity, product or service being reviewed, that you are not a competitor of that entity, that have not been offered any incentive to write the Review and that the Review is your independent, honest, genuine opinion.</div><br/>
                  <div>8.4 If you use any features on our site which enable you to share your Content with third party sites, we are not responsible for use of your Content on those third party sites.</div><br/>
                  <div>8.5 We reserve the right without notice to reject, suspend, alter, remove or delete Content or to disclose to the police or other relevant authorities or to a complainant any Content or behaviour if it is the subject of complaint or where we have reason to believe that it breaches our terms and conditions, or that such steps are necessary to protect us or others, or that a criminal offence may have been committed, or where required by law or where requested by the police or other appropriate authorities. If so, you must not attempt to re-publish or re-send the relevant Content.</div><br/>
                  <div>8.6 It is your responsibility to decide which Content to upload (subject to these terms and conditions). We do not accept responsibility if your Content is misused by others as this is outside our reasonable control. Do not upload any Content if you are concerned that it may be misused.</div><br/>
                  <div>8.7 We reserve the right in our discretion without notice to edit the content of any profile or other Content uploaded to our Service.</div><br/>
                  <div>8.8 We do not guarantee that any profile or other Content will generate any particular level of revenues or suitable enquiries.</div><br/>
                  <div>8.9 We reserve the right to place advertisements adjacent to or within your Content. We retain all revenue from such advertisements.</div><br/>
                  <div>8.10 It is your responsibility to make your own backup of Content to protect you in case of loss or damage to such material. We are not responsible for such loss or damage.</div><br/>
                  <div>8.11 We may irretrievably delete your Content without telling you after this agreement ends or if your account has been inactive for six months.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">9. Childcare Services (very important - we only provide a platform)</div>
                  <div>9.1 Our Service constitutes a neutral platform whereby Childcare Providers can arrange to supply Childcare Services to Parents. Any Childcare Contract is between the respective Childcare Provider and Parents. We are not a party to the Childcare Contract itself. You acknowledge that any legal recourse arising from breach of the Childcare Contract is against the other party to the Childcare Contract and not against us.</div><br>
                  <div>9.2 If you are a Childcare Provider, you undertake to us and the relevant Parents that in connection with supply of the Childcare Services to Parents:</div>
                  <div>
                    <ul>
                      <li>a) You have the necessary abilities (including registrations, licenses, permissions, qualifications, skills, training, expertise).</li>
                      <li>b) You will act in accordance with the highest standards reasonably to be expected in the relevant industry.</li>
                      <li>c) You will comply with all applicable laws and regulations and will not infringe any third-party rights.</li>
                    </ul>
                  </div>
                  <div>9.3 All Users undertake to us that they will deal with other Users in a polite and courteous manner.</div><br>
                  <div>9.4 All Users undertake to us that they will only use any personal information of other Users strictly in accordance with applicable data protection laws and regulations.</div><br>
                  <div>9.5 If you have any complaint about another Users, you must notify us promptly via the contact page of our website at <span class="weblink"><%= link_to "www.childmindr.net/contact-us", contact_us_path %></span>. We may at our discretion try to resolve the dispute but we do not promise to get involved.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">10. Other Users and their Content</div>
                  <div>10.1 You accept that we have no obligation to vet or monitor Users or their Content. We do not endorse or recommend any other Content. You rely on such information and/or deal with other Users at your own risk. We accept no legal responsibility for the accuracy of, or otherwise in relation to, any such Content or in connection with any dealings between Users. It is your responsibility to carry out careful and detailed investigations before dealing with other Users including use of or reliance on their Content. You should not assume that any Content from another User is accurate and be aware that a person may not be who he or she claims to be.</div><br>
                  <div>10.2 If we state on our Service that we hold a document such as a regulatory registration certificate or criminal records check, we do not guarantee that that any such document is accurate or valid or suitable for your purposes. If you are a Parent, it is your responsibility to seek access to the document via the relevant Childcare Provider and satisfy yourself in relation thereto.</div><br/>
                  <div>10.3 You acknowledge that in using the Service you may encounter behaviour or Content which you consider inappropriate. If so, please contact us www.childmindr.net/contact-us (including if you wish to give us notice of defamatory material). Please also use any available blocking mechanisms, seek relevant external help If appropriate (e.g. from law enforcement authorities) and/or stop using the Service.</div><br/>
                  <div>10.4 If you are a Childcare Provider, you acknowledge that we permit Parents to post Reviews in relation to you and/or your services and that these will be publicly available for viewing and will remain so after this agreement ends. We are not responsible for monitoring or editing Reviews. You acknowledge that such Reviews may be critical or defamatory of you.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">11. Third party services / advertising / websites</div>
                  <div>11.1 We display third party-provided services, third party advertising and links to third party websites. We do not recommend or endorse, nor are we legally responsible for those sites or services. You use them at your own risk.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">12. Guidance</div>
                  <div>12.1 We do not guarantee that guidance or other general information which we provide on our Service is accurate or up to date and we do not accept legal responsibility for it. Before acting on such information, you must make your own appropriate and careful enquiries including as to its accuracy and suitability for your purposes. The information is not intended as professional or other advice and is not tailored to your personal circumstances. Nor is it intended to be a substitute for possession of an appropriate level of training, qualifications, skill and experience in the matters covered. You rely on such information at your own risk.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">13. Your account</div>
                  <div>13.1 Unless otherwise specifically stated on our Service, your account is for your personal use only and is non-transferable. You must not authorise or permit any other person to use your account. You must take reasonable care to protect and keep confidential your password and other account or identity information. You must notify us immediately of any apparent breach of security such as loss, theft, misuse or unauthorised disclosure or use of a password. You are responsible for third parties who use your account or identity (unless and to the extent that we are at fault).</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">14. Payment</div>
                  <div>14.1 Our Service is totally free of charge to use and so if you are ever prompted to pay to use any part of it by any person, please report this immediately.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">15. Support</div>
                  <div>15.1 We do not supply support except to the extent specifically stated on our Service, as may be varied from time to time. You may contact our customer support team at www.childmindr.net/contact-us.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">16.Functioning of our Service</div>
                  <div>16.1 We do not guarantee that the Service will be uninterrupted or error-free. We are entitled, without notice and without liability</div>
                  <div>
                    <ul>
                      <li>(a) to suspend the Service for repair, maintenance, improvement or other technical reasons and </li>
                      <li>(b) to make changes to the Service provided without having any serious negative effects.</li>
                    </ul>
                  </div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">17. Ending or suspending this contract</div>
                  <div>17.1 You may at any time end this contract by closing your account or otherwise following any applicable instructions on our Service. You may close your account at any time by requesting it via the contact us page <span class="weblink"><%= link_to "www.childmindr.net/contact-us", contact_us_path %></span>.</div><br>
                  <div>17.2 We are entitled at any time to end this contract for any reason by email notice and/or by SMS message.</div><br/>
                  <div>17.3 We are entitled at any time (with or without notice) to end this contract or suspend part or all of our Service or impose restrictions on our Service if:</div>
                  <div>
                    <ul>
                      <li>a) We have reason to believe that you have breached our terms and conditions;</li>
                      <li>b) We think that it is necessary to protect us or others; or</li>
                      <li>c) We are required to do so by law or appropriate authority.</li>
                    </ul>
                  </div>
                  <div>17.5 If this contract ends: Your right to use our Service and all licences are terminated. Existing rights and liabilities are unaffected. All clauses in this contract which are stated or intended to continue after termination will continue to apply. You must not attempt to re-register for or continue to use our Service if we have given you notice of termination.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">18. Liability</div>
                  <div>18.1 Nothing in this agreement in any way limits or excludes our liability for negligence causing death or personal injury or for fraud or fraudulent misrepresentation or for anything which may not legally be excluded or limited. In this section, any reference to us includes our employees and agents.</div><br/>
                  <div>18.2 Very important: We shall not be liable for any loss or damage caused by us or our employees or agents in circumstances where:</div>
                  <div>
                    <ul>
                      <li>a) There is no breach of a legal duty owed to you by us or by any of our employees or agents;</li>
                      <li>b) Such loss or damage was not reasonably foreseeable (meaning it was not an obvious consequence of our breach or not contemplated by you and us at the time we entered into this contract);</li>
                      <li>c) Such loss or damage is caused by you, for example by not complying with this agreement; or</li>
                      <li>d) Such loss or damage relates to a business of yours.</li>
                    </ul>
                  </div>
                  <div>18.3 Very important: You will be liable for any reasonably foreseeable loss or damage we suffer arising from your breach of this agreement or misuse of our Service (subject of course to our obligation to mitigate any losses).</div><br/>
                  <div>18.4 The following clauses applies to all Users of our website:</div>
                  <div>
                    <ul>
                      <li>
                        <div>a) In no event (including our own negligence) will we be liable for any:</div>
                        <ul>
                          <li>economic losses (including, without limit, loss of revenues, profits, contracts, business or anticipated savings);</li>
                          <li>loss of goodwill or reputation;</li>
                          <li>special, indirect or consequential losses; or</li>
                          <li>damage to or loss of data</li>
                          <li>(even if we have been advised of the possibility of such losses).</li>
                        </ul>
                      </li>
                      <li>b) You will indemnify us against all claims and liabilities directly or indirectly related to your use of the Service and/or breach of this agreement.</li>
                      <li>c) To the extent allowed by law, you and we exclude all terms, whether imposed by statute or by law or otherwise, that are not expressly stated in this agreement.</li>
                      <li>d) This agreement constitutes the entire agreement between us with respect to its subject matter and supersedes any previous communications or agreements between us. We both acknowledge that there have been no misrepresentations and that neither of us has relied on any pre-contractual statements. Liability for misrepresentation (excluding fraudulent misrepresentation) relating to the terms of this agreement is excluded.</li>
                    </ul>
                  </div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">19. Intellectual property rights</div>
                  <div>19.1 The intellectual property rights in all material used on or in connection with our Service are owned by us or by our partners or other Users. For your personal use only, you may view such material on your device. You must not otherwise use such material including copying, selling or adapting it or taking extracts from it without our specific prior written consent.</div><br/>
                  <div>19.2 Just to be clear - you must not collect, scrape, harvest, frame or deep-link to any Content on our Service without our specific prior written consent.</div><br/>
                  <div>19.3 You must not circumvent or otherwise interfere with any security related features of the Service or features that limit or prevent copying of Content or which restrict use of Content.</div><br/>
                  <div>19.4 You must not reverse-engineer or decompile any of our software in any way (except to the extent allowed by applicable law). You must not create or use a modified or derivative version of our software or distribute or sublicense our software to third parties. You must take reasonable steps to ensure that our software is not disclosed to any third party.</div><br>
                  <div>19.5 If you upload any Content to our Service or provide us with any ideas or suggestions for our Service, you allow us at no cost, and forever, to use and adapt all or part of such material however we wish in any media formats, whether on our own Service or on our other channels including mobile, email communications, social media, PR, competitions and press releases and also on third party media, including for the purpose of redistribution or promotion of our Service. You waive your “moral rights” in relation to such Content to the extent legally allowed. You also allow each User to use your Content in accordance with these terms and conditions.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">20. Privacy</div>
                  <div>20.1 You acknowledge and agree that we may process your personal information in accordance with the terms of our privacy and cookies policy which is subject to change from time to time.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">21. Events outside our control</div>
                  <div>21.1 We are not liable for failure to perform or delay in performing any obligation under this agreement if the failure or delay is caused by any circumstances beyond our reasonable control including third party telecommunication failures.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">22.Transfer</div>
                  <div>22.1 We may transfer all or part of our rights or duties under this agreement provided we take reasonable steps to ensure that your rights under this agreement are not prejudiced. As this agreement is personal to you, you may not transfer any of your rights or duties under it without our prior written consent.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">23. General</div>
                  <div>23.1 We may send all notices under this agreement by email to the most recent email address you have supplied to us (unless otherwise stated in this agreement). Headings used in this agreement are for information and not binding. Any failure by either party to exercise or enforce any right or provision of this agreement does not mean this is a “waiver” (i.e. that it cannot be enforced later). If any part of this agreement is ineffective or unenforceable for any reason, the rest of the agreement shall continue to apply. A person who is not a party to this agreement shall have no rights to enforce this agreement except insofar as expressly stated otherwise. The parties are independent contractors and, except as otherwise specifically stated above, nothing in this agreement constitutes any party as agent, employee or representative of the other.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">24. Complaints</div>
                  <div>24.1 If you have any complaints, please contact click here to contact us.</div>

                  <div class="divider_line"></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section -->

  </div>
</div>
