<!-- static_pages_content.css.scss -->
<!-- content_designpg.css.scss -->
<div class="medium-12 columns content_designpg_section content_static_pages content_advisepg_section ">
  <div class="content_static_inner_pages">
    <!-- upper_section -->
    <%= render 'shared/content_upper_content' %>
    <!-- upper_section -->
    <div class="clear"></div>
    <!-- section -->
    <div class="medium-12 columns content_section">
      <div class="content_inner_section">
        <div class="section_main_info">

          <!-- section -->
          <div class="medium-12 columns mini_section">
            <div class="mini_inner_section colour_blue">
              <div class="mini_content_title colour_light_blue">contact us</div>
              <div class="img_text_section">
                <div class="mini_text_section mini_text_overflow colour_white_text">
                  <div class="mini_text_title colour_white_text">Reach us at any time</div>
                  <div>Your query is very important to us, so we always aim to respond within 24 hours of receipt. If your prefer to talk to us please call +233 55 209 9793 or via Whatsapp on +44 77 22 016771.</div>
                  <div>Email: admin@childmindr.net</div>

                  <div class="divider_line"></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section -->

  </div>
</div>


















