<!-- static_pages_content.css.scss -->
<!-- content_designpg.css.scss -->
<div class="medium-12 columns content_designpg_section content_static_pages content_parentingguidespg_section">
  <div class="content_static_inner_pages">
    <!-- upper_section -->
    <%= render 'shared/content_upper_content' %>
    <!-- upper_section -->
    <div class="clear"></div>
    <!-- section -->
    <div class="medium-12 columns content_section">
      <div class="content_inner_section">
        <div class="section_main_info">

          <!-- section -->
          <div class="medium-12 columns mini_section">
            <div class="mini_inner_section colour_turquois">
              <div class="mini_content_title colour_light_turquois">safety advice</div>
              <div class="img_text_section">
                <div class="mini_text_section mini_text_overflow colour_white_text">
                  <div class="mini_text_title colour_white_text">Tips For Staying Safe</div>
                  <div>Childmindr.net is committed to helping all of our users to stay safe. We remind parents that we cannot personally check the details of every childcare provider that registers with us and we remind childcare providers that they must be cautious about visiting parents in their homes or inviting strangers to visit them before background and other checks have been completed because of the potential safeguarding risks.</div><br/>
                  <div>Online safety is a big issue and one which we take very seriously. Any information placed on a platform is available for public view and we recommend that members are cautious about how much personal and family information they share in their profiles.</div><br/>
                  <div>We recommend you read the information below about the things we do to try and make our service as safe and secure as possible, together with what you can do stay safe and protect yourself.</div>
                  
                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">Profile Safety</div>
                  <div>Members can optionally create a public profile detailing their childcare requirements or childcare services. The information we request has specifically been designed to ensure maximum safety and security. For safety reasons we advise members not to include detailed personally identifiable information in their profiles such as their surname, street name, postcode, place of work, childrens names or ages. We recommend that members do not upload photos containing children for child protection reasons.</div>
                  
                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">Human Moderation</div>
                  <div>A member of our team checks all profiles before publishing them on our platform to make sure they are appropriate and do not contain offensive or inappropriate language. This might cause a short delay if we are particularly busy, but we feel it is worth the extra time to ensure that the content is suitable. Each time a profile is edited, the changes won't appear until they have been approved by a human operator.</div>

                  <div class="divider_line"></div>
                  
                  <div class="mini_text_title colour_white_text">Community Reporting</div>
                  <div>We encourage all users to report a profile via email to the Safety Team if they have any concerns or worries.</div><br/>
                  <div>Our Safety Team works 365 days in a year to monitor our platform and to investigate any concerns.</div><br/>
                  <div>we have a zero-tolerance policy on abusive or inappropriate  use of our platform. Any member found to be acting in an inappropriate or abusive manner will be permamently  suspended without warning</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">Childcare Provider Reviews</div>
                  <div>Parent members are able to leave public reviews for childcare providers and the provider has the facility to respond. This promotes safety as it allows parents a voice if they have concerns about a care provider, while at the same time ensuring good practice is shared and high-quality working practices celebrated.</div><br/>
                  <div>Many parents prefer the reassurance of using a childcare provider who has received multiple positive reviews.</div><br/>
                  <div>If you've had a good or bad experience of a childcare provider then please take the time to leave a childcare provider review to help other parents.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">Face To Face Interviews</div>
                  <div>Parents should always conduct face to face interviews with childcare providers before using their services. Childcare providers should never accept a job from anyone they have not met in person.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">Meeting Safely</div>
                  <div>When meeting for the first time we strongly recommend that both parties meet in a safe public place such as a coffee shop. Always tell someone else when and where you are going to meet.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">Protecting Yourself From Scams</div>
                  <div>Unfortunately, there are some people who try to part us from our hard-earned money by scamming us online. We are all wise to spam emails and do not follow links, however inviting the offer. However, some scammers target child carers by offering money up front to care for a child ‘not currently in the country’ or ‘travelling from abroad shortly’. </div><br/>
                  <div>If a job offer seems suspicious, fees seem ‘too good to be true’ or if advance payment is offered without checks having been completed, we advice all child carers to be on their guard.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">Payments Sent Or Received To/From Other Members</div>
                  <div>You should never accept payment from any member you have not met in person. A common online scam involves fraudsters sending cheques or wiring money to individuals who then request that you send the money back or use the money to buy goods to send back in the post. Similarly, you should never send money to any person you have not met in person.</div>

                  <div class="divider_line"></div>

                  <div class="mini_text_title colour_white_text">Password Safety</div>
                  <div>We recommend all our members protect their log in details and passwords and do not share them with others. Your computer, mobile device or web browser may ask you if you wish to save your login details. For security reasons, to prevent unauthorised access to you account by anyone who may have access to your computer or mobile device, we advice against storing passwords.</div><br/>
                  <div>If members lose or misplace their password, they can use our online <span class="weblink"><%= link_to "password reset", new_user_password_path %></span> service to change it quickly and easily. If your email account is hacked, we advice members to reset their password to ensure continued online safety.</div><br/>
                  <div>Please note that we take password sharing very seriously and will not hesitate to suspend an account if a password is misused or shared.</div>

                  <div class="divider_line"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section -->

  </div>
</div>
