<!-- static_pages_content.css.scss -->
<!-- content_designpg.css.scss -->
<div class="medium-12 columns content_designpg_section content_static_pages content_findingtherightschoolpg_section ">
  <div class="content_static_inner_pages">
    <!-- upper_section -->
    <%= render 'shared/content_upper_content' %>
    <!-- upper_section -->
    <div class="clear"></div>
    <!-- section -->
    <div class="medium-12 columns content_section">
      <div class="content_inner_section">
        <div class="section_main_info">

          <!-- section -->
          <div class="medium-12 columns mini_section">
            <div class="mini_inner_section colour_purple">
              <div class="mini_content_title colour_light_purple">Finding The Right Nursery</div>
              <div class="img_text_section">
                <div class="mini_text_section mini_text_overflow colour_white_text">
                  <div class="mini_text_title colour_white_text">Timing Is Everything</div>
                  <div>There is no right or wrong time to start nursery. This very much depends on the needs of you and your family. What is important is ensuring that you have enough time to prepare your child and yourself for the changes ahead.</div><br/>
                  <div>If you live in densely populated area, you may have a wide choice of nurseries to consider. On the other hand, if you live in a rural or more remote area you are likely to have far less choice. Before you even begin to enquire about nursery places, consider the factors that are important to you and your family. Use the three step check lists below as a guide to your decision making:</div>

                  <div class="mini_text_title colour_white_text">Step 1: nursery checklist:</div>
                  <div>
                    <ul>
                      <li>Use the online search facility provided by Childmindr.net to search for nursery settings by location</li>
                      <li>Will it be more convenient to have a place at a nursery near to your home or your work location?</li>
                      <li>Is the nursery close or convenient for dropping off and picking up on time each day?</li>
                      <li>Is the nursery open at a time of year that’s convenient for your work or social commitments? Term time only or year-round provision?</li>
                      <li>Have you spoken to family and friends who live nearby, do they recommend a particular nursery and why?</li>
                      <li>You may wish to consider joining an online forum for local Mums and ask for their feedback on local nurseries</li>
                    </ul>
                  </div>
                  
                  <div class="divider_line"></div>

                  <div>Wherever possible, visit as many nursery settings as possible. What works for a friend or relative may not work for your family. It can be useful to take your child along with you to a first or subsequent visit depending on their age. Their reaction and the interaction between staff and your child, will give you some insight. Once you have decided on a selection of nurseries to visit, consider the following:</div><br/>
                  <div>There are a host of nursery options available. Some are run by local groups and organisations, others are private and have their own approach to education. You may wish to follow a traditional early year’s theme or consider a Montessori or other type of educational methodology. The choice is yours so it’s worth doing a little research into what and how your child may learn.</div>

                  <div class="mini_text_title colour_white_text">Step 2: nursery checklist:</div>
                  <div>
                    <ul>
                      <li>How are you and your child greeted by staff on arrival</li>
                      <li>Does the nursery seems safe and secure, are children well contained and safe from leaving on their own or with someone other than a parent?</li>
                      <li>Are the children already at the nursery settled and happy?</li>
                      <li>Are the staff attentive to children and each other?</li>
                      <li>Are the children engaged in various activities with the support and supervision of staff?</li>
                      <li>Do the staff join in and enjoy their work?</li>
                      <li>Are the individual needs of the child provided for? Are parents allowed to give input on how their child is cared for at the setting?</li>
                      <li>Are there set activities planned throughout the day that the children are familiar with and come to recognise as part of their daily routine?</li>
                      <li>Where do the children nap if needed?</li>
                      <li>Are there suitable toileting and potty training policies in place?</li>
                      <li>Does the setting look well-kept and organised? Do the children have a space for their belongings where they can see their name displayed?</li>
                      <li>Does the setting look and feel like a well-run service?</li>
                      <li>Are you able to talk to parents of children who already attend the setting?</li>
                    </ul>
                  </div>

                  <div class="divider_line"></div>

                  <div>Once you have visited a few settings or have decided that one particular setting is your best option and you’re ready to commit, you should give some further thought to the remaining questions below. If you are considering more than one option, the following points may help to guide you towards your final decision. Don’t be afraid to ask as many questions as you need to. After all, you need to be certain that you are making the right decision for your child and for your circumstances. Before making your final choice, there are some more direct questions that you may wish to ask:</div>

                  <div class="mini_text_title colour_white_text">Step 3: nursery checklist:</div>
                  <div>
                    <ul>
                      <li>What will my child eat and how do you deal with fussy eating if that is an issue?</li>
                      <li>How do you deal with bad behaviour and how do you promote good behaviour?</li>
                      <li>Will my child be able to have a bit of ‘quite time’ if it all gets too much during the day? Where will he/she be able to do this?</li>
                      <li>How much outdoor play do the children have during the day?</li>
                      <li>Will I get daily written or verbal progress reports?</li>
                      <li>If I am working on a particular behaviour or process at home, will you continue to implement this within the setting?</li>
                      <li>Enquire about the cost.</li>
                      <li>Are the staff ratios in line with the government guidelines?</li>
                      <li>What happens if staff are off ill, how are the ratios maintained?</li>
                      <li>Will my child be kept with the same group of children for the duration of the session?</li>
                      <li>What is the illness policy should my child become unwell?</li>
                      <li>What is the policy for other people collecting my child, what safeguards are in place?</li>
                      <li>What is the staff turnover like at the nursery? What has it been in the past and how long has my child’s soon to be key worker been employed at the nursery?</li>
                    </ul>
                  </div>
                  <div>These questions are just a guide. Your gut instinct will tell you a great deal and so will your child’s reaction to the staff and environment. It is important that you allow your child plenty of time to get used to the nursery. This can be done through numerous settling in sessions, allowing time for you to observe your child and also times when you’ll leave your child for short sessions to see how he or she copes in your absence.</div><br/>
                  <div>It can take a number of sessions before you and your child feel confident. If you have concerns, discuss these with the staff and work out ways to overcome any small issues that you are worried about. Some nurseries will require a deposit and or at least one calendar or one term as notice should you wish to leave or change your session so keep this in mind before you make your final commitment.</div>

                  <div class="divider_line"></div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- section -->

  </div>
</div>
