<!-- forms_styling.css.scss -->
<div class="medium-12 columns registration_section user_section form_general_section">
  <div class="user_inner_section">
    <div class="section_header">Add A New Nursery</div>
    <div class="clear"></div>
    <div class="inner_form_content">
      <%= render 'form', school: @school %>
    </div>
  </div>
</div>





