<!-- forms_styling.css.scss -->
<!-- content_designpg.css.scss -->
<div class="medium-12 columns content_designpg_section">
  <div class="general_profile_edit_inner_section">
    <!-- upper_section -->
    <%= render 'shared/content_upper_content_profile_edit' %>
    <!-- upper_section -->
    <div class="clear"></div>
    <!-- section -->
    <div class="medium-12 columns content_section"><div class="content_inner_section"></div></div>
    <!-- section -->
  </div>
</div>

<!-- original_content -->
<div class="medium-12 columns registration_section user_section form_general_section">
  <div class="user_inner_section">
    <div class="section_header">Add A New Nursery</div>
    <div class="clear"></div>
    <div class="inner_form_content">
      <%= render 'form', school: @school %>
    </div>
  </div>
</div>
