/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation
 *= require font-awesome
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */


/*=========================================
    general css content
  =========================================*/

/*  colour_red               rgb: 200 80 59     hex: #C8503B
    colour_orange            rgb: 206 93 61     hex: #CE5D3D
    colour_light_orange      rgb: 215 138 70    hex: #D78A46
    colour_orange_text       rgb: 240 215 90    hex: #F0D75A
    colour_yellow            rgb: 222 208 85    hex: #DED055
    colour_green             rgb: 152 181 67    hex: #98B543
    colour_light_green       rgb: 199 208 81    hex: #C7D051
    colour_green_text        rgb: 244 248 126   hex: #F4F87E
    colour_blue              rgb: 77 117 184    hex: #4D75B8
    colour_light_blue        rgb: 107 160 210   hex: #6BA0D2
    colour_blue_text         rgb: 174 206 247   hex: #AECEF7
    colour_purple            rgb: 92 57 159     hex: #5C399F
    colour_light_purple:     rgb: 121 102 190   hex: #7966BE
    colour_turquois:         rgb: 100 147 170   hex: #6493AA
    colour_light_turquois:   rgb: 114 169 196   hex: #72A9C4
    colour_light_brown       rgb: 241 238 234   hex: #F1EEEA
    colour_medium_brown:     rgb: 218 211 205   hex: #DAD3CD
    colour_dark_brown_text:  rgb: 118 109 101   hex: #766D65 
    color_pink:                                 hex: #bc4469
    */


/*gray:           rgb: 118 118 118  | hex: #777*/
/*light pink:     rgb: 210 116 124  | hex: #fa777f*/
/*deep pink:      rgb: 178 79 118   | hex: #cd4e78*/
/*blue:           rgb: 123 136 188  | hex: #4e92cd*/
/*turquois green: rgb: 102 151 160  | hex: #7ac5cb*/
/*olive green:    rgb: 137 150 92   | hex: #bad57a*/


body {
  line-height: 1.5 !important;
}

.clear { 
  clear: both; 
}

.hide { 
  display: none; 
}

a:focus,
input:focus,
select:focus,
textarea:focus,
button:focus
 {
    outline: none !important;
}

a:hover {
  background-color: transparent;
  text-decoration: underline;
}


/*----------------------------------------
    devise signin/signout error messages
----------------------------------------*/

#notice_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(55,71,90, 0.9) !important;
}

#notice_wrapper p {
  font-family: "Lato", sans-serif;
  color: #fff;
  padding: 25px 0px;
  text-align: center;
  margin: 0px;
  font-size: 22px;
  font-weight: bold;
  text-shadow: 0px 4px 30px #fff;
  letter-spacing: 1px;
  font-weight: 200;
  line-height: 28px;
}

#alert_wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: rgba(225, 71, 62, 0.9) !important;
}

#alert_wrapper p {
  font-family: "Lato", sans-serif;
  color: #fff;
  padding: 22px 0px;
  text-align: center;
  margin: 0px;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0px 4px 30px #fff;
  letter-spacing: 1px;
  font-weight: 200;
  line-height: 28px;
}

/*----------------------------------------
    colours
----------------------------------------*/

.colour_red {
  background-color: red;
}

.colour_red:hover {
  background-color: red;
  opacity: 1;
}

.colour_orange {
  background-color: #CE5D3D;
}

.colour_orange:hover {
  background-color: #CE5D3D;
  opacity: 1;
}

.colour_light_orange {
  background-color: #D78A46;
}

.colour_light_orange:hover {
  background-color: #D78A46;
  opacity: 1;
}

.colour_orange_text {
  color: #F0D75A;
}

.colour_yellow {
  background-color: #DED055;
}

.colour_yellow:hover {
  background-color: #DED055;
  opacity: 1;
}

.colour_green {
  background-color: #98B543;
}

.colour_green:hover {
  background-color: #98B543;
  opacity: 1;
}

.colour_light_green {
  background-color: #C7D051;
}

.colour_green_text {
  color: #F4F87E;
}

.colour_blue {
  background-color: #4D75B8;
}

.colour_blue:hover {
  background-color: #4D75B8;
  opacity: 1;
}

.colour_light_blue {
  background-color: #6BA0D2;
}

.colour_light_blue:hover {
  background-color: #6BA0D2;
  opacity: 1;
}

.colour_blue_text {
  color: #AECEF7;
}

.colour_purple {
  background-color: #5C399F;
}

.colour_purple:hover {
  background-color: #5C399F;
  opacity: 1;
}

.colour_light_purple {
  color: #7966BE;
}

.colour_turquois {
  background-color: rgb(12, 150, 177);
}

.colour_turquois:hover {
  background-color: rgb(12, 150, 177);
  opacity: 1;
}

.colour_light_turquois {
  background-color: rgb(11, 172, 203) !important;
}

.colour_light_turquois_text {
  color: rgb(11, 172, 203) !important;
}

.colour_white_text {
  color: #fff !important;
}

.color_pink {
  background-color: #bc4469
}

.color_pink:hover {
  background-color: #bc4469;
  opacity: 1;
}

.colour_light_brown {
  background-color: #F1EEEA;
}

.colour_medium_brown {
  background-color: #DAD3CD;
}

.colour_dark_brown_text {
  color: #766D65;
}
