/*===================================================
    Page: homepage
    File: views/shared/_content_designpg.html.erb
  ===================================================*/

.content_designpg_section {
  padding: 0px !important;
  background-color: transparent;
}

.content_designpg_section .upper_content {
  position: relative;
}

.content_designpg_section .background_content {
  background-image: url("img_background.png");
  height: 550px;
}

.content_designpg_section .middle_content {
  background-color: transparent;
  height: 500px;
  position: absolute;
  width: 100%;
  top: 60px;
}

.content_designpg_section .inner_middle_content {
  background-color: transparent;
  height: 550px;
  width: 1200px;
  margin: auto;
}

.content_designpg_section .header_content {
  background-color: transparent;
  padding: 0px !important;
  margin-bottom: 40px;
}

.content_designpg_section .left_content {
  float: left;
}

.content_designpg_section .left_content .main_logo {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-style: italic;
}

.content_designpg_section .left_content .logo_text {
  font-size: 12px;
  color: #fff;
  text-transform: capitalize;
}

.content_designpg_section .right_content {
  float: right;
}

.content_designpg_section .right_content .contact_title {
  text-align: right;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.content_designpg_section .right_content .contact_list {
  text-align: right;
  color: #fff;
  font-size: 12px;
}

.content_designpg_section .right_content .tel {
  text-transform: capitalize;
}

.content_designpg_section .image_inner_content {
  background-color: transparent;
  width: 99%;
  margin: auto;
  position: relative;
}

.content_designpg_section .main_img_cover {
  position: absolute;
  top: 60px;
  width: 100%;
}

.content_designpg_section .main_img_cover .inner_img_cover {
  border: 15px solid #fff;
  overflow: hidden;
  height: 350px;
  border-radius: 15px;
}

.content_designpg_section .main_img_cover .inner_img_cover img {
  width: 100%;
}

.content_designpg_section .tab_header {
  background-color: transparent;
  height: 125px;
  width: 1135px;
  margin: auto;
}

.content_designpg_section .tab_header ul {
  margin: 0px;
  list-style-type: none;
}

.content_designpg_section .tab_header ul li a {
  display: inline-block;
  background-color: green;
  margin-right: 1px;
  color: #fff !important;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 25px 0px;
  height: 125px;
  width: 125px;
  border-radius: 15px;
  float: left;
  font-size: 14px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_designpg_section .tab_header ul li a:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_designpg_section .tab_header .tab_tilt_left {
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  background-color: red !important;
}

.content_designpg_section .tab_header .tab_text_tilt_left {
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}

.content_designpg_section .tab_header .tab_tilt_right {
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
  background-color: purple !important;
}

.content_designpg_section .tab_header .tab_text_tilt_right {
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.content_designpg_section .content_section {
  background-color: rgb(243,238,235);
  padding: 0px !important;
  z-index: -1;
}

.content_designpg_section .section_main_info {
  background-color: transparent;
  height: 550px;
  width: 1200px;
  margin: auto;
  margin-top: 70px;
}


// ----------------------------
//   workings
// ----------------------------

.mini_section {
  background-color: transparent;
}

.mini_inner_section {
  background-color: yellow;
  height: 470px;
  padding: 15px;
  border-radius: 15px;
}

.mini_content_title {
  background-color: orange;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border-radius: 20px;
  padding: 10px 15px !important;
  margin-bottom: 5px;
}

.img_text_section {
  padding: 15px;
}

.img_text_section img {
  border-radius: 5px;
}

.mini_image_section {
  margin-bottom: 5px;
}

.mini_text_section {
  font-size: 12px;
}

.mini_text_title {
  margin: 10px 0px;
  font-size: 14px;
}

.next_arrow a {
  color: #fff;
  float: right;
  display: inline-block;
  font-size: 50px;
  margin-top: 15px;
}













