/*===================================================
    Page: listed user types
    File: views/shared/_content_childcarerspg.html.erb
    File: views/shared/_content_users_babysitterspg.html.erb
  ===================================================*/
// #98B543

.content_usertypes_section {
  padding: 0px !important;
  background-color: #F1EEEA;
}

.content_usertypes_section .content_inner {
  padding: 15px;
}
@media only screen and (min-width: 1025px) {
  .content_usertypes_section .content_inner  {
    width: 1000px;
    margin: auto;
    padding: 15px 0px;
  }
}

.content_usertypes_section .search_section {
  margin-bottom: 25px;
}
@media only screen and (min-width: 1025px) {
  .content_usertypes_section .search_section  {
    height: 60px;
    border-bottom: 1px solid #CE5D3D;
  }
}

.content_usertypes_section .search_seletor #list {
  display: block;
  width: 23%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px !important;
  float: left;
  margin-right: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section .search_seletor #list  {
    width: 100%;
    margin-bottom: 10px;
  }
}

.content_usertypes_section #q_category_zone_id_eq {
  display: block;
  width: 23%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px !important;
  float: left;
  margin-right: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section #q_category_zone_id_eq  {
    width: 100%;
    margin-bottom: 10px;
  }
}

.content_usertypes_section #q_category_town_id_eq {
  display: block;
  width: 23%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px !important;
  float: left;
  margin-right: 10px;
  display: inline-block !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section #q_category_town_id_eq  {
    width: 100%;
    margin-bottom: 10px;
  }
}

.content_usertypes_section #q_category_gender_id_eq {
  display: block;
  width: 23%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px !important;
  float: left;
  margin-right: 10px;
  display: inline-block !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section #q_category_gender_id_eq  {
    width: 100%;
    margin-bottom: 10px;
  }
}

.content_usertypes_section #q_name_cont {
  display: block;
  width: 23%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px !important;
  float: left;
  margin-right: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section #q_name_cont  {
    width: 100%;
    margin-bottom: 10px;
  }
}

.content_usertypes_section #q_town_cont {
  display: block;
  width: 23%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px !important;
  float: left;
  margin-right: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section #q_town_cont  {
    width: 100%;
    margin-bottom: 10px;
  }
}

.content_usertypes_section .statecontent .button {
  float: right;
  background-color: #98B543;
  margin-left: 10px;
  text-transform: capitalize;
  font-size: 14px;
  margin-bottom: 0px;
  height: 40px;
  padding: 12px 30px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section .statecontent .button  {
    width: 100% !important;
    margin-bottom: 5px !important;
  }
}

.content_usertypes_section #q_category_service_id_eq {
  display: block;
  width: 23%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px !important;
  float: left;
  margin-right: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section #q_category_service_id_eq  {
    width: 100% !important;
    margin-bottom: 10px !important;
  }
}

.content_usertypes_section #q_category_schooltype_id_eq {
  display: block;
  width: 23%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px !important;
  float: left;
  margin-right: 10px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section #q_category_schooltype_id_eq  {
    width: 100%;
    margin-bottom: 10px;
  }
}

.content_usertypes_section .statecontent .button:hover {
  background-color: #CE5D3D !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_usertypes_section .page_info {
  margin: 30px 0px;
  padding: 0px !important;
  color: #777;
  font-weight: 500;
  text-align: left;
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section .page_info  {
    text-align: center;
  }
}

.content_usertypes_section .search_data ul {
  list-style-type: none !important;
  margin: 0px !important;
}

.content_usertypes_section .search_data ul li:first-child {
  margin-top: 30px;
}

.content_usertypes_section .search_data ul li:last-child {
  margin-bottom: 80px;
}

.content_usertypes_section .user_block {
  background-color: #fff;
  padding: 30px 0px !important;
  border-bottom: 1px solid #CE5D3D;
  margin-bottom: 15px;
}

.content_usertypes_section .left_content {
  background-color: transparent;
  padding: 6px 10px;
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section .left_content  {
    width: 100%;
    margin-bottom: 5px;
  }
}

@media only screen and (min-width: 1025px) {
  .content_usertypes_section .line_break {
    display: none !important;
  }
}

.content_usertypes_section .left_content .school_img a {
  box-shadow: inset 0 0 10px 0 rgba(0,0,0,.1);
  height: 150px;
  width: 150px;
  display: inherit;
  border-radius: 200px;
  padding: 3px;
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section .left_content .school_img a {
    margin: auto;
  }
}

.content_usertypes_section .middle_content {
  background-color: transparent;
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section .middle_content {
    width: 100%;
    margin-bottom: 15px;
  }
}

.content_usertypes_section .right_content {
  background-color: transparent;
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section .right_content {
    width: 100%;
  }
}

.content_usertypes_section .user_inner_block {
  background-color: transparent;
}

.content_usertypes_section .left_content img {
  border-radius: 200px;
  height: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_usertypes_section .left_content img:hover {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_usertypes_section .user_name {
  font-size: 17px;
  color: #98B543;
  font-weight: bold;
  text-transform: capitalize;
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section .user_name {
    font-size: 14px;
    display: inherit;
  }
}

.content_usertypes_section .about_user {
  font-size: 14px;
  color: #777;
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: transparent;
  height: 65px;
  overflow: hidden;
}

.content_usertypes_section .about_user p {
  font-size: 13px !important;
  color: #777;
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: transparent;
  height: 65px;
  overflow: hidden;
}

.content_usertypes_section .upper_text {
  border-bottom: 1px solid #ededed;
  padding: 0px 0px 10px;
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section .upper_text {
    text-align: center;
  }
}

.content_usertypes_section .user_headline {
  font-size: 13px;
  color: #CE5D3D;
  font-weight: bold;
}

.content_usertypes_section .user_type {
  text-transform: capitalize;
}

.content_usertypes_section .user_charge {
  background-color: #f6f6f6;
  color: #777;
  font-size: 12px;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding: 5px 10px;
  border-radius: 2px;
  text-align: center;
  margin-top: 10px;
}

.content_usertypes_section .last_logged_in {
  background-color: #f6f6f6;
  color: #777;
  font-weight: 400;
  font-size: 11px;
  letter-spacing: 1px;
  word-spacing: 1px;
  padding: 3px 10px;
  border-radius: 2px;
  text-transform: lowercase !important;
}
@media only screen and (min-width: 1025px) {
  .content_usertypes_section .last_logged_in {
    float: right;
  }
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section .last_logged_in {
    margin-bottom: 5px;
  }
}

.content_usertypes_section .lower_text {
  padding: 5px 0px;
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section .lower_text {
    text-align: center;
  }
}

.content_usertypes_section .result_info {
  font-size: 14px;
  color: #777;
  text-transform: capitalize;
  font-weight: bold;
}


.content_usertypes_section .user_buttons ul li {
  margin: 0px !important;
  float: left;
}
@media only screen and (max-width: 1024px) {
  .content_usertypes_section ul li  {
    width: 100% !important;
  }
}

.content_usertypes_section .btn_view {
  margin-bottom: 10px;
}
@media only screen and (min-width: 1025px) {
  .content_usertypes_section .btn_view {
    margin-right: 5px;
  }
}

.content_usertypes_section .main_btns a {
  display: inline-block;
  width: 100% !important;
  text-align: center;
  font-size: 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: bold;
  padding: 5px 25px;
  border: 2px solid #CE5D3D;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
@media only screen and (min-width: 1025px) {
  .content_usertypes_section .main_btns a {
    width: 250px !important;
  }
}

.content_usertypes_section .main_btns a:hover {
  opacity: 0.8;
  background-color: #CE5D3D;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_usertypes_section .btn_view a {
  background-color: #CE5D3D;
  color: #fff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_usertypes_section .btn_message a {
  background-color: #fff;
  color: #CE5D3D;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_usertypes_section .ratings {
  color: #777;
  text-transform: capitalize;
  margin-top: 1px;
}
@media only screen and (min-width: 1025px) {
  .content_usertypes_section .ratings {
    float: right;
  }
}

.content_usertypes_section .rating_header {
  font-weight: bold;
  font-size: 13px;
}

.content_usertypes_section .stars {
  margin: 0px 1px;
  font-size: 12px;
}

.content_usertypes_section .ratings .fa-star {
  color: #DA9549 !important;
}

.content_usertypes_section .rating_count {
  font-size: 12px;
}

.content_usertypes_section .serach_block {
  background-color: transparent;
  height: 60px;
  border-bottom: 1px solid #CE5D3D;
}

.content_usertypes_section .image_cover {
  position: relative;
  border-radius: 8px;
  background-color: #98B543;
  padding: 0px !important;
  margin-top: 15px;
}

.content_usertypes_section .image_text {
  padding: 15px !important;
  color: #fff;
}
@media only screen and (max-width: 940px) {
  .content_usertypes_section .image_text   {
    width: 100%;
    padding: 15px 15px 20px !important;
  }
}

.content_usertypes_section .backgrd_img {
  padding: 0px !important;
}
@media only screen and (max-width: 940px) {
  .content_usertypes_section .backgrd_img   {
    display: none;
  }
}

.content_usertypes_section .backgrd_img img {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  height: 295px;
  float: right;
}

.content_usertypes_section .img_header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #fff;
  letter-spacing: 0;
  line-height: 1;
  text-transform: capitalize;
}    

.content_usertypes_section .sub_text {
  font-size: 14px;
}

.content_usertypes_section .sub_text  ul {
  margin-top: 15px;
}

.content_usertypes_section .sub_text  ul li a {
  font-size: 14px;
  color: #fff !important;
  text-decoration: underline;
}

.content_usertypes_section .search_content {
  margin-top: 15px;
}

.content_usertypes_section .search_content ul {
  list-style-type: none !important;
  margin: 0px !important;
}

.content_usertypes_section .serach_header {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 15px;
}

.content_usertypes_section .button {
  float: right;
  background-color: #98B543;
  margin-left: 10px;
  text-transform: capitalize;
  font-size: 14px;
  margin-bottom: 0px;
  height: 40px;
  padding: 12px 30px;
  font-weight: bold;
  text-align: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section .button  {
    width: 100% !important;
    margin-bottom: 5px !important;
  }
}

.content_usertypes_section .button:hover {
  background-color: #CE5D3D !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_usertypes_section .non_about_user {
  font-size: 14px;
  color: #777;
  text-transform: capitalize;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: transparent;
  height: 65px;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section .non_about_user  {
    display: none;
  }
}

.content_usertypes_section .first_block {
  background-color: #f6f6f6;
  height: 20px;
  margin-bottom: 2px;
}

.content_usertypes_section .second_block {
  background-color: #f6f6f6;
  height: 20px;
  margin-bottom: 2px;
}

.content_usertypes_section .third_block {
  background-color: #f6f6f6;
  height: 20px;
  margin-bottom: 2px;
}

.content_usertypes_section .message_content_outter {
  width: 100%;
  position: absolute;
  top: 0;
}

.content_usertypes_section .message_content {
  background-color: #98B543;
  color: #fff;
  padding: 15px;
  opacity: 0.7;
  border-radius: 3px;
  width: 300px;
  text-align: center;
  text-transform: capitalize;
  font-size: 14px;
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section .message_content  {
    display: none;
  }
}

.content_usertypes_section .childcarer_all_section {
  margin-top: 79px;
}

.content_usertypes_section .childcarer_section {
  margin-top: 5px;
}

.content_usertypes_section .upper_text_info {
  margin-bottom: 15px;
}

.content_usertypes_section .btn_telephone {
  margin-bottom: 10px;
  display: inline-block;
}
@media only screen and (max-width: 1025px) {
  .content_usertypes_section .btn_telephone {
    width: 100% !important
  }
}

@media only screen and (max-width: 1025px) {
  .content_usertypes_section .user_telephone {
    margin-bottom: 10px;
  }
}
