/*===================================================
    Page: homepage
    File: views/shared/_content_designpg.html.erb
  ===================================================*/

.content_designpg_section {
  padding: 0px !important;
  background-color: transparent;
}

.content_designpg_section .upper_content {
  position: relative;
}

@media only screen and (min-width: 1250px) {
  .content_designpg_section .background_content {
    background-image: url("img_background.png");
    height: 550px;
  }
}

.content_designpg_section .middle_content {
  width: 100%;
  top: 60px;
  z-index: 1;
}
@media only screen and (min-width: 1250px) {
  .content_designpg_section .middle_content {
    background-color: transparent;
    position: absolute;
    height: 500px;
  }
}
@media only screen and (max-width: 1250px) {
  .content_designpg_section .middle_content {
    background-image: url(img_background.png);
    padding: 15px !important
  }
}

.content_designpg_section .inner_middle_content {
  background-color: transparent;
  height: 550px;
}
@media only screen and (min-width: 1250px) {
  .content_designpg_section .inner_middle_content {
    width: 1200px;
    margin: auto;
  }
}

.content_designpg_section .header_content {
  background-color: transparent;
  padding: 0px !important;
  margin-bottom: 40px;
}
@media only screen and (max-width: 1250px) {
  .content_designpg_section .header_content {
    margin-bottom: 0px;
  }
}

.content_designpg_section .left_content {
  float: left;
}

.content_designpg_section .left_content .main_logo {
  font-size: 45px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  font-style: italic;
}

.content_designpg_section .left_content .logo_text {
  font-size: 12px;
  color: #fff;
  text-transform: capitalize;
}

.content_designpg_section .right_content {
  float: right;
}

.content_designpg_section .right_content .contact_title {
  text-align: right;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

.content_designpg_section .right_content .contact_list {
  text-align: right;
  color: #fff;
  font-size: 12px;
}

.content_designpg_section .right_content .contact_list a {
  text-align: right;
  color: #fff;
  font-size: 12px;
  text-transform: capitalize;
}

.content_designpg_section .right_content .divider {
  margin: 0px 5px;
}

.content_designpg_section .right_content .tel {
  text-transform: capitalize;
}

.content_designpg_section .image_inner_content {
  background-color: transparent;
  width: 99%;
  margin: auto;
  position: relative;
}

.content_designpg_section .main_img_cover {
  position: absolute;
  top: 60px;
  width: 100%;
}

.content_designpg_section .main_img_cover .inner_img_cover {
  border: 15px solid #fff;
  overflow: hidden;
  height: 350px;
  border-radius: 15px;
}

.content_designpg_section .main_img_cover .inner_img_cover img {
  width: 100%;
}

.content_designpg_section .tab_header {
  background-color: transparent;
  height: 125px;
  width: 1135px;
  margin: auto;
}
@media only screen and (max-width: 1250px) {
  .content_designpg_section .tab_header {
    display: none;
  }
}

.content_designpg_section .tab_header ul {
  margin: 0px;
  list-style-type: none;
}

.content_designpg_section .tab_header ul li a {
  display: inline-block;
  margin-right: 1px;
  color: #fff !important;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 25px 0px;
  height: 125px;
  width: 125px;
  border-radius: 15px;
  float: left;
  font-size: 12px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_designpg_section .tab_header ul li a:hover {
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_designpg_section .tab_header .tab_tilt_left {
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.content_designpg_section .tab_header .tab_text_tilt_left {
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}

.content_designpg_section .tab_header .tab_tilt_right {
  -ms-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}

.content_designpg_section .tab_header .tab_text_tilt_right {
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

.content_designpg_section .content_section {
  background-color: #F1EEEA;
  padding: 0px 0px 100px 0px !important;
}

.content_designpg_section .section_main_info {
  background-color: transparent;
  margin-top: 100px;
}
@media only screen and (max-width: 1250px) {
  .content_designpg_section .section_main_info {
    margin-top: 30px;
    padding: 15px;
  }
}
@media only screen and (min-width: 1250px) {
  .content_designpg_section .section_main_info {
    height: 550px;
    width: 1200px;
    margin: auto;
    margin-top: 80px;
  }
}

@media only screen and (max-width: 1250px) {
  .content_designpg_section .mini_section {
    width: 100% !important;
    padding: 0px !important;
  }
}

.content_designpg_section .mini_inner_section {
  padding: 15px;
  border-radius: 15px;
}
@media only screen and (min-width: 1250px) {
  .content_designpg_section .mini_inner_section {
    height: 680px;
  }
}
@media only screen and (max-width: 1250px) {
  .content_designpg_section .mini_inner_section {
    margin-bottom: 15px;
  }
}

.content_designpg_section .mini_content_title {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  border-radius: 20px;
  padding: 10px 15px !important;
  margin-bottom: 5px;
}

.content_designpg_section .img_text_section {
  padding: 15px;
}

.content_designpg_section .img_text_section img {
  border-radius: 5px;
}
@media only screen and (max-width: 1250px) {
  .content_designpg_section .img_text_section img {
    width: 100% !important;
  }
}
@media only screen and (min-width: 1250px) {
  .content_designpg_section .img_text_section img {
    height: 147px;
  }
}

.content_designpg_section .mini_image_section {
  margin-bottom: 5px;
}
@media only screen and (max-width: 1250px) {
  .content_designpg_section .mini_image_section {
    height: 250px;
    overflow: hidden;
  }
}

.content_designpg_section .mini_text_section {
  font-size: 12px;
}

@media only screen and (min-width: 1250px) {
  .content_designpg_section .mini_text_overflow {
    height: 348px;
    overflow: hidden;
  }
}

.content_designpg_section .mini_text_title {
  margin: 10px 0px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
}

.content_designpg_section .next_arrow a {
  color: #fff;
  float: right;
  display: inline-block;
  font-size: 50px;
  margin-top: 15px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
@media only screen and (max-width: 1250px) {
  .content_designpg_section .next_arrow a {
    display: none;
  }
}

.content_designpg_section .next_arrow a:hover {
  color: #fff !important;
  text-decoration: none;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_designpg_section {
  padding: 0px !important;
  background-color: transparent;
}

.content_designpg_section .content_inner {
  padding: 15px;
}
@media only screen and (min-width: 1025px) {
  .content_designpg_section .content_inner  {
    width: 1000px;
    margin: auto;
  }
}

.content_designpg_section .header {
  font-size: 52px;
  color: #758abf;
  fill: #758abf;
  font-weight: bold;
  text-transform: capitalize;
  text-align: center;
  margin: 25px 0px;
}
@media only screen and (max-width: 940px) {
  .content_designpg_section .header   {
    font-size: 18px;
  }
}

.content_designpg_section .image_cover {
  position: relative;
  border-radius: 8px;
  background-color: #758abf;
  padding: 0px !important;
}

.content_designpg_section .image_text {
  padding: 15px !important;
  color: #fff;
}
@media only screen and (max-width: 940px) {
  .content_designpg_section .image_text   {
    width: 100%;
    padding: 15px 15px 20px !important;
  }
}

.content_designpg_section .backgrd_img {
  padding: 0px !important;
}
@media only screen and (max-width: 940px) {
  .content_designpg_section .backgrd_img   {
    display: none;
  }
}

.content_designpg_section .backgrd_img img {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.content_designpg_section .img_header {
  font-size: 40px;
  font-weight: 200;
  margin-bottom: 12px;
  color: #fff;
  letter-spacing: 0;
  line-height: 1;
  text-transform: capitalize;
}    

.content_designpg_section .sub_text {
  font-size: 15px;
  font-weight: bold;
}

.content_designpg_section #q_category_town_id_eq {
  display: initial !important;
}

.content_designpg_section .search_content {
  margin-top: 15px;
}

.content_designpg_section .search_content ul {
  list-style-type: none !important;
  margin: 0px !important;
}

.content_designpg_section .serach_header {
  font-weight: bold;
  text-transform: capitalize;
  font-size: 15px;
  color: #fff;
}

.content_designpg_section #q_category_schooltype_id_eq {
  background-color: #fff;
  border: 2px solid #bac4df;
  color: #cd4e78;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  height: 40px
}

.content_designpg_section #q_category_service_id_eq {
  background-color: #fff;
  border: 2px solid #bac4df;
  color: #cd4e78;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  height: 40px
}

.content_designpg_section #q_category_town_id_eq {
  background-color: #fff;
  border: 2px solid #bac4df;
  color: #cd4e78;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  height: 40px
}

.content_designpg_section input[type="submit"] {
  background-color: #bc4469;
  border: 2px solid #cd4e78;
  border-radius: 6px;
  font-size: 13px;
  color: #fff;
  width: 100%;
  margin-bottom: 0px;
  text-transform: uppercase;
  height: 35px;
  padding: 0px !important;
  letter-spacing: 1px;
  font-weight: bold;
  border-radius: 5px !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_designpg_section input[type="submit"]:hover {
  opacity: 0.6;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_designpg_section .site_content {
 margin: 30px 0px;
 padding: 0px !important; 
 color: #777;
 font-weight: 500;
 text-align: center;
}

.content_designpg_section .highlight {
  color: #bc4469;
  font-weight: bold;
}

.content_designpg_section .minor_content {
  margin-bottom: 15px;
  font-size: 30px;
}

.content_designpg_section .content_header {
  margin-bottom: 5px;
  font-size: 30px;
  color: #bc4469;
  font-weight: bold;
  line-height: 33px;
  margin-top: 35px;
}

.content_designpg_section .serach_cover_btn a {
  background-color: #3a98a2 !important;
  display: inline-block;
  color: #fff !important;
  height: 100px;
  width: 600px;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 11px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
@media only screen and (max-width: 940px) {
  .content_designpg_section .serach_cover_btn a {
    width: 100% !important;
  }
}

.content_designpg_section .serach_cover_btn a:hover {
  text-decoration: none;
  background-color: #bc4469 !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.content_designpg_section .link_header {
  font-size: 30px;
  text-transform: capitalize;
  font-weight: bold;
}
@media only screen and (max-width: 940px) {
  .content_designpg_section .link_header {
    font-size: 20px;
  }
}

.content_designpg_section .link_minor_content {
  font-size: 14px;
}
@media only screen and (max-width: 940px) {
  .content_designpg_section .link_minor_content {
    font-size: 12px;
  }
}

.content_designpg_section .search_click_content {
  padding: 0px !important; 
  color: #777;
  font-weight: 500;
  text-align: center;
  margin-bottom: 50px;
}
@media only screen and (max-width: 940px) {
  .content_designpg_section .search_click_content   {
    margin-bottom: 100px;
  }
}

.content_designpg_section .reviews_content {
  padding: 0px !important;
  margin: 50px 0px 100px;
}
@media only screen and (max-width: 940px) {
  .content_designpg_section .reviews_content   {
    display: none;
  }
}

.content_designpg_section .inner_review_content {
  background-color: transparent;
  padding: 0px !important;
}

.content_designpg_section .review_info {
  background-color: transparent; 
}

.content_designpg_section .inner_review_info {
  background-color: #7ac5cb !important;
  color: #fff;
  padding: 31px;
  height: 200px;
  border-radius: 8px;
  position: relative;
}

.content_designpg_section .user_review {
  font-size: 15px;
  margin-bottom: 15px;
}

.content_designpg_section .user_name {
  font-weight: bold;
}

.content_designpg_section .user_loaction {
  font-size: 12px;
}

.content_designpg_section .quote_start {
  position: absolute;
  top: 0;
  left: 0;
  padding: 7px;
}

.content_designpg_section .quote_end {
  position: absolute;
  bottom: 35px;
  right: 0;
  padding: 7px;
}


// ----------------------------------
//   responsive header
// ----------------------------------

@media only screen and (min-width: 1250px) {
  .content_designpg_section .responsive_header  {
    display: none;
  }
}

@media only screen and (max-width: 1251px) {
  .content_designpg_section .non_responsive_header  {
    display: none;
  }
}

.responsive_header_content {
  background-color: rgba(102, 151, 160, 0.9) !important;
  height: 420px;
}
@media only screen and (min-width: 1251px) {
  .content_designpg_section .responsive_header_content  {
    display: none;
  }
}

.responsive_header_content ul {
  list-style-type: none;
  margin: 0px !important;
}

.responsive_header_content ul li a {
  color: #fff !important;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 20px 15px;
  display: inline-block;
  border-bottom: 1px solid #fff;
  width: 100%;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.responsive_header_content ul li .last_child {
  border-bottom: 1px solid transparent;
}

.responsive_header_content ul li a:hover {
  text-decoration: none;
  color: #fa777f !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.responsive_header ul .icon_menu a {
  color: #3a98a2 !important;
  font-size: 19px !important;
  margin-left: 5px !important;
  text-transform: capitalize !important;
  letter-spacing: 1px !important;
  word-spacing: 2px !important;
  color: #fff !important;
  background-color: #fff !important;
  font-weight: bold !important;
  padding: 11px 7px 4px !important;
  border: 2px solid #7ac5cb !important;
  border-radius: 5px !important;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

.responsive_header .icon_menu {
  margin-top: 22px !important;
}

.responsive_header .icon_menu .fa-bars {
  color: #fff !important;
  font-size: 30px;
}
