/*===================================================
    Page: schools page
    File: views/shared/_content_no_listing.html.erb
  ===================================================*/

.no_listings {
  background-color: #3a98a2 !important;
  margin-bottom: 60px;
  text-align: center;
  padding: 30px 15px;
  border-radius: 8px;
  color: #fff;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 50px;
}
